

    .collage a {
        position: absolute;
        max-width: 220px;
        padding: 10px;
        background-color:rgb(255,255,255);

            transform:rotate(-7deg);
        -ms-transform:rotate(-7deg);
        -moz-transform:rotate(-7deg);
        -webkit-transform:rotate(-7deg);
        -o-transform:rotate(-7deg);

        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;

                                /*** Fix for Webkit to resolve the flickering issue
                   Suggested by erikhatfield ***/
                                -webkit-transform-style: preserve-3d;

        -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
        -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
        box-shadow:1px 1px 3px rgba(0,0,0,0.2);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#33000000,Positive=true)";
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#33000000,Positive=true);
    }

    .collage a:nth-child(2) {
            transform:rotate(7deg);
        -ms-transform:rotate(7deg);
        -moz-transform:rotate(7deg);
        -webkit-transform:rotate(7deg);
        -o-transform:rotate(7deg);
        margin-left: 30%;
    }

    .collage a:nth-child(3) {
            transform:rotate(-15deg);
        -ms-transform:rotate(-15deg);
        -moz-transform:rotate(-15deg);
        -webkit-transform:rotate(-15deg);
        -o-transform:rotate(-15deg);
        margin-left: 60%;
    }

    .collage a:nth-child(4) {
            transform:rotate(-15deg);
        -ms-transform:rotate(-15deg);
        -moz-transform:rotate(-15deg);
        -webkit-transform:rotate(-15deg);
        -o-transform:rotate(-15deg);
        margin-top: 150px;
        margin-left: 15%;
    }
 .collage a:nth-child(5) {
            transform:rotate(7deg);
        -ms-transform:rotate(7deg);
        -moz-transform:rotate(7deg);
        -webkit-transform:rotate(7deg);
        -o-transform:rotate(7deg);
        margin-left: 50%;
        margin-top: 150px;
    }


        .collage a img {
            max-width: 200%;
            max-height: 200%;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
            -webkit-filter: grayscale(0%);
        }

        .collage a:hover {
            z-index: 999;
                transform:rotate(0deg);
            -ms-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -webkit-transform:rotate(0deg);
            -o-transform:rotate(0deg);

            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

        .collage a:hover > img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
        }

                                                                   
